:root {
  --vermelho: #eb1d16bb;
  --preta: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
body header .container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-between;
}
body header .container .logo {
  margin-left: 10px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}
body header .container nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}
body header .container nav a:hover {
  color: #fff;
}
body .filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url('../img/house-of-cards-fundo.jpg');
  background-size: cover;
  height: 400px;
}
