* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
body .instagram-whapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}
body .instagram-whapper .instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
body .instagram-whapper .instagram-phone img {
  height: 50rem;
}
body .instagram-whapper .instagram-continue {
  display: flex;
  align-items: center;
  /*horizontal*/
  justify-content: space-around;
  /*vertical*/
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}
body .instagram-whapper .instagram-continue .group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
body .instagram-whapper .instagram-continue .group .profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
body .instagram-whapper .instagram-continue .group .profile-photo img {
  height: 6rem;
}
body .instagram-whapper .instagram-continue .group .instagram-logo {
  height: 3rem;
}
body .instagram-whapper .instagram-continue .group:nth-child(1) {
  min-width: 19rem;
}
